.home {
  width: 500px;
  min-height: 1000px;
  margin: 0 auto;
  box-shadow: 1px 1px 5px #eee;
  background-color: white;
}
.userInfoBox {
  padding: 16px;
  text-align: center;
}
.userInfoBox h2 {
  margin: 16px 0;
}
.userInfo {
  padding: 16px;
  box-sizing: border-box;
}
.userInfo .imageBox {
  position: relative;
}
.userInfo .imageBox img {
  border-radius: 50%;
  object-fit: cover;
}
.userInfo .textBox p {
  width: 300px;
  margin: 8px auto;
  padding-bottom: 4px;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1px solid lightgray;
}
.userInfo .textBox input {
  width: 300px;
  height: 35px;
  display: inline-block;
  margin: 8px;
  border-radius: 4px;
  border: 1px solid lightgray;
  outline: none;
  padding-left: 10px;
  box-sizing: border-box;
  /* margin-bottom: 8px; */
}
.userInfo .textBox button {
  width: 100px;
  height: 30px;
  margin: 8px 4px;
  padding: 2px 10px 6px;
  box-sizing: border-box;
  border-radius: 8px;
  border: none;
  font-family: "Orbit";
  color: #ffffff;
  background-color: #0e4f3d;
  cursor: pointer;
}
.userInfo .textBox button:last-child {
  background-color: #c0c0c0;
  margin-left: 4px;
}

.userInfo .textBox button:hover {
  box-shadow: 1px 1px 2px rgb(170, 170, 170);
}

.myContentBox {
  padding: 16px;
  box-sizing: border-box;
}
.myContentBox .contentTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #eee;
}
