/* PostAddButton */
.postAddBtn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* PageUp Scroll button */
.PageUpButton {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 50px;
  color: white;
  background-color: #0e4f3d;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.postAddBtn:hover, .PageUpButton:hover {
  box-shadow: 2px 2px 3px rgb(170, 170, 170);
}

/* Option Button & Modal Style */
.optionBtn{
  border: none;
  background-color: white;
  cursor: pointer;
}

/* .modalOverlay {
  width: 500px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
} */
.modalOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.25);
}
.modalBox{
  width: 400px;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 20px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalMessageBox button{
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #aaaaaa;
  background-color: #ffffff;
  font-size: 20px;
  text-align: left;
  color: #000000;
  font-family: 'Orbit';
}
.modalMessageBox button:last-child {
  border: none;
  margin-top: 20px;
  text-align: center;
}
.modalMessageBox button:hover{
  background-color: #e5e5e5;
}