.home {
  width: 500px;
  height: 100vh;
  margin: 0 auto;
  padding: 40px 16px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px #eee;
  background-color: white;
}
.titleBox {
  margin: 80px auto;
  text-align: center;
  position: relative;
}
.titleBox .mainTitle {
  font-family: "Rubik Bubbles";
  font-size: 70px;
}
.titleBox .titleImg {
  position: absolute;
  right: 30px;
  top: -10px;
}

.inputBox {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  color: #aaaaaa;
}
.inputBox .inputItem {
  width: 100%;
  height: 52px;
  padding-left: 12px;
  margin-bottom: 16px;
  border: none;
  border-radius: 8px;
  background-color: #f4f4f4;
  outline: none;
  font-size: 17px;
}
.inputBox .inputItem::placeholder {
  color: #aaaaaa;
  font-size: 17px;
  font-family: "Orbit";
}
.buttonBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #666666;
}
.buttonBox button {
  height: 52px;
  margin: 16px 0;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  font-family: "Orbit";
  color: #ffffff;
  background-color: #0e4f3d;
  cursor: pointer;
}
.buttonBox button:nth-child(2) {
  background-color: #aaaaaa;
}
.buttonBox button:hover {
  box-shadow: 1px 1px 2px rgb(170, 170, 170);
}
.buttonBox a {
  cursor: pointer;
}
