.home {
  width: 500px;
  min-height: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  background-color: white;
}

.postBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.postBox .postInputBox {
  width: 100%;
  padding: 8px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #f4f4f4;
}
.postBox .postInputBox input {
  height: 45px;
  width: 100%;
  font-size: 17px;
  font-family: "Orbit";
  background-color: #f4f4f4;
  border: none;
  outline: none;
}
.postBox .postInputBox input:first-child {
  width: 150px;
  cursor: pointer;
}
.postBox .postTextarea {
  position: relative;
  padding: 20px 0;
}
.postBox .postTextarea textarea {
  width: 100%;
  height: 175px;
  padding: 8px 30px;
  box-sizing: border-box;
  resize: none;
  font-size: 17px;
  font-family: "Orbit";
  overflow: hidden;
  background-attachment: local;
  background-image: linear-gradient(to right, white 25px, transparent 35px),
    linear-gradient(to left, white 25px, transparent 25px),
    repeating-linear-gradient(
      white,
      white 34px,
      #ccc 35px,
      #ccc 35px,
      white 37px
    );
  line-height: 34px;
  outline: none;
  border: none;
}
.postBox .postTextarea textarea::placeholder {
  font-size: 17px;
  font-family: "Orbit";
}
.postBox .postImageBox {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}
.postBox .postImageBox .labelBox {
  text-align: center;
  color: gray;
  font-size: 18px;
}
.postBox .postImageBox .labelBox label {
  cursor: pointer;
}
.postBox .postImageBox .labelBox .imageBasicLabel img{
  object-fit: cover
}
.postBox .postImageBox .labelBox .imageEditLabelBox {
  display: flex;
}
.postBox .postImageBox .labelBox .imageEditLabelBox .imageEditLabel,
.postBox .postButton {
  width: 150px;
  height: 40px;
  margin: 8px;
  padding: 4px 8px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Orbit";
  color: gray;
  border: 1px solid lightgray;
  border-radius: 8px;
  cursor: pointer;
}
.postBox .postImageBox input[type="file"] {
  display: none;
}
.postBox .postImageBox .previewImg {
  object-fit: cover;
}
.postBox .postButtonBox {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px auto;
}